dg-app-api/.vs/
dg-app-api/DataGEMS.Gateway.Api/bin/
dg-app-api/DataGEMS.Gateway.Api/obj/
dg-app-api/DataGEMS.Gateway.App/bin/
dg-app-api/DataGEMS.Gateway.App/obj/
dg-app-api/DataGEMS.Gateway.Resources/bin/
dg-app-api/DataGEMS.Gateway.Resources/obj/
dg-app-api/DataGEMS.Gateway.Api/Configuration/env.Development.json
dg-app-api/DataGEMS.Gateway.Api/DataGEMS.Gateway.Api.csproj.user
